.App {
  text-align: center;
}

.header {
  background-color: #f4e04d;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #10375c;
}

.stock-container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
}

table {
  display: flex;
  justify-content: center;
  border: 1px solid gray;
}
td {
  border: 1px solid gray;
  width: 30em;
}
